<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0" requirePermission="true"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0" requirePermission="true"/>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="FlatFile TraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" fileName="Exception.log" header="----------------------------------------" footer="----------------------------------------" formatter="Text Formatter" traceOutputOptions="None" filter="All"/>
      <!--<add name="Formatted EventLog TraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        source="Enterprise Library Logging" formatter="Text Formatter"
        log="Application" machineName="" traceOutputOptions="None" filter="All" />-->
      <add name="FlatFile Log TraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" fileName="Trace.log" header="----------------------------------------" footer="----------------------------------------" formatter="Text Formatter" traceOutputOptions="None" filter="All"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="Timestamp: {timestamp}{newline}Message: {message}{newline}Category: {category}{newline}Priority: {priority}{newline}EventId: {eventid}{newline}Severity: {severity}{newline}Title:{title}{newline}Machine: {localMachine}{newline}App Domain: {localAppDomain}{newline}ProcessId: {localProcessId}{newline}Process Name: {localProcessName}{newline}Thread Name: {threadName}{newline}Win32 ThreadId:{win32ThreadId}{newline}Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFile TraceListener"/>
          <!--<add name="Formatted EventLog TraceListener" />-->
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="AssistingAdministrators">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="Logging Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging" logCategory="General" eventId="9001" severity="Error" title="Salary Calculations Service" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="5"/>
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" exceptionMessage="Application error.  Please advise your administrator and provide them with this error code: {handlingInstanceID}" exceptionMessageResourceName="" exceptionMessageResourceType="" replaceExceptionType="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="ExceptionShielding">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="Wrap Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" exceptionMessage="Application Error. Please contact your administrator." exceptionMessageResourceType="" exceptionMessageResourceName="" wrapExceptionType="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="LoggingException">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
            <exceptionHandlers>
              <add name="Logging Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging" logCategory="General" eventId="9000" severity="Error" title="Salary Calculations Service" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="5"/>
              <!--<add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                exceptionMessage="An application error occurred and has been logged. Please contact your administrator."
                exceptionMessageResourceName="" exceptionMessageResourceType=""
                replaceExceptionType="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />-->
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="NotifyingRethrow">
        <exceptionTypes>
          <add name="DivideByZeroException" type="System.DivideByZeroException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="Logging Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging" logCategory="General" eventId="9002" severity="Error" title="Salary Calculations Service" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="5"/>
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" exceptionMessage="Application error will be ignored and processing will continue." exceptionMessageResourceName="" exceptionMessageResourceType="" replaceExceptionType="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
            </exceptionHandlers>
          </add>
          <add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="Wrap Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" exceptionMessage="An application error has occurred." exceptionMessageResourceType="" exceptionMessageResourceName="" wrapExceptionType="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="ReplacingException">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" exceptionMessage="Application Error. Please contact your administrator." exceptionMessageResourceName="" exceptionMessageResourceType="" replaceExceptionType="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <appSettings>
    <add key="MaxRequestLength" value="3261072"/>
    <add key="FolderPath" value="c:\CustomerGeneration\"/>
    <add key="StandaloneTruckFolder" value="TruckInfo"/>
    <add key="LogFilePath" value="CustomerGeneration"/>
    <add key="PrinterName" value="EPSON TM-U220 Receipt"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;"/>
    <add key="Form27CActive" value="true"/>
    <!--To Activate Form 27C validation value must be true for inactive value must be false-->
    <add key="Form27CCheck" value="SMS"/>
    <!--Value only can be SMS (Advance) or settlement (Same Day)-->
    <add key="TruckTypeCheck" value="SMS"/>
    <!--Value only can be SMS or BOOKING-->
    <add key="SendSMS" value="http://nimbusit.in/binapi/pushsms.php?usr=670937&amp;pwd=KHPXLIBPUD&amp;sndr=DCAwbk&amp;ph={0}&amp;text={1}&amp;rpt=1"/>
    <add key="SendSMSForBookings" value="http://nimbusit.in/binapi/pushsms.php?usr=670937&amp;pwd=KHPXLIBPUD&amp;sndr=DCAwbk&amp;ph={0}&amp;text={1}&amp;rpt=1"/>
    <add key="IsSMSAutoApprovalMode" value="true"/>
    <add key="IsSMSPriorityMode" value="true"/>
    <add key="ValidateDocument" value="{'1','2','3','4','19','20','18','21'}"/>
    <add key="PaymentStartDate" value="01-01-2013"/>
    <add key="PaymentEndDate" value="01-12-2013"/>
    <add key="MaxPrintCount" value="3"/>
    <add key="IsCashSMSActive" value="true"/>
    <add key="AdvanceSMSValidDays" value="3"/>
    <add key="OverLiftingPercentage" value="10"/>
  </appSettings>
  <connectionStrings>
    <remove name="LocalMySqlServer"/>
    <add name="LocalMySqlServer" connectionString="server=127.0.0.1;Port=3306;uid=root;pwd=root;Database=test;" providerName="MySql.Data.MySqlClient"/>
    <add name="eSalesEntities" connectionString="metadata=res://*/eSalesModel.csdl|res://*/eSalesModel.ssdl|res://*/eSalesModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;Port=3306;Allow Zero Datetime=true;User Id=root;password=root;Persist Security Info=True;database=test&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="LocalMySqlServer" connectionString="Datasource=192.168.11.13;Port=3306;Database=esalestest;uid=root;pwd=root;" providerName="MySql.Data.MySqlClient" />
    <add name="eSalesEntities" connectionString="metadata=res://*/eSalesModel.csdl|res://*/eSalesModel.ssdl|res://*/eSalesModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.11.13;Port=3306;Allow Zero Datetime=true;User Id=root;password=root;Persist Security Info=True;database=esalestest&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="LocalMySqlServer" connectionString="Datasource=192.168.11.35;Port=3306;Database=esales;uid=root;pwd=root;" providerName="MySql.Data.MySqlClient" />
    <add name="eSalesEntities" connectionString="metadata=res://*/eSalesModel.csdl|res://*/eSalesModel.ssdl|res://*/eSalesModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.11.35;Port=3306;Allow Zero Datetime=true;User Id=root;password=root;Persist Security Info=True;database=esales&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="LocalMySqlServer" connectionString="Datasource=localhost;Port=3306;Database=liveesales;uid=root;pwd=esales@1.;" providerName="MySql.Data.MySqlClient" />
    <add name="eSalesEntities" connectionString="metadata=res://*/eSalesModel.csdl|res://*/eSalesModel.ssdl|res://*/eSalesModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;Port=3306;Allow Zero Datetime=true;User Id=root;password=esales@1.;Persist Security Info=True;database=liveesales&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="LocalMySqlServer" connectionString="Datasource=192.168.13.162;Port=3306;Database=esalestest;uid=root;pwd=root;" providerName="MySql.Data.MySqlClient"/>
    <add name="eSalesEntities" connectionString="metadata=res://*/eSalesModel.csdl|res://*/eSalesModel.ssdl|res://*/eSalesModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.13.162;Port=3306;Allow Zero Datetime=true;User Id=root;password=root;Persist Security Info=True;database=esalestest&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="LocalMySqlServer" connectionString="Datasource=117.244.160.1;Port=3306;Database=esalestest27c;uid=root;pwd=esales@1.;" providerName="MySql.Data.MySqlClient" />
    <add name="eSalesEntities" connectionString="metadata=res://*/eSalesModel.csdl|res://*/eSalesModel.ssdl|res://*/eSalesModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=117.244.160.1;Port=3306;Allow Zero Datetime=true;User Id=root;password=esales@1.;Persist Security Info=True;database=esalestest27c&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="LocalMySqlServer" connectionString="Datasource=dcaesales.db.8445764.hostedresource.com;Port=3306; Database=dcaesales; uid=dcaesales;pwd=dCaGhAtO@1.;" providerName="MySql.Data.MySqlClient" />
    <add name="eSalesEntities" connectionString="metadata=res://*/eSalesModel.csdl|res://*/eSalesModel.ssdl|res://*/eSalesModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=dcaesales.db.8445764.hostedresource.com;Port=3306;Allow Zero Datetime=true;User Id=dcaesales;password=dCaGhAtO@1.;Persist Security Info=True;database=dcaesales&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="LocalMySqlServer" connectionString="Datasource=192.168.12.239;Database=esales;uid=root;pwd=esales@1.;" providerName="MySql.Data.MySqlClient" />
    <add name="eSalesEntities" connectionString="metadata=res://*/eSalesModel.csdl|res://*/eSalesModel.ssdl|res://*/eSalesModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.12.239;Allow Zero Datetime=true;User Id=root;password=esales@1.;Persist Security Info=True;database=esales&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime requestValidationMode="2.0"/>
    <pages enableEventValidation="false" clientIDMode="AutoID" controlRenderingCompatibilityVersion="4.0" validateRequest="false">
      <controls>
        <add tagPrefix="uc1" src="~/Common/NotificationMessage.ascx" tagName="MessageBox"/>
        <add tagPrefix="uc2" src="~/Common/NotificationMessageForGrid.ascx" tagName="MessageBoxForGrid"/>
        <add tagPrefix="uc3" src="~/Common/ViewImage.ascx" tagName="ViewImage"/>
        <add tagPrefix="uc4" src="~/Common/YesNoNotificationMessage.ascx" tagName="YesNoMessageBox"/>
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
      </controls>
    </pages>
    <roleManager enabled="true" defaultProvider="MySQLRoleProvider">
      <providers>
        <clear/>
        <add name="MySQLRoleProvider" type="MySql.Web.Security.MySQLRoleProvider, MySql.Web, Version=6.6.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" applicationName="TCESS.ESales.Web" autogenerateschema="true"/>
      </providers>
    </roleManager>
    <membership defaultProvider="MySQLMembershipProvider">
      <providers>
        <clear/>
        <add name="MySQLMembershipProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.6.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="TCESS.ESales.Web" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" autogenerateschema="true"/>
      </providers>
    </membership>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="MySql.Data, Version=6.6.4.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Data.Entity, Version=6.6.4.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="MySql.Web, Version=6.6.4.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Data, Version=6.6.4.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Data.Entity, Version=6.6.4.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Web, Version=6.6.4.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Index.aspx" timeout="2880"/>
    </authentication>
    <httpHandlers>
      <!--<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <!--<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>-->
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>