<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GATESELECTED" value="2" />
	  <add key="TRUCKIN"  value="Trucks In:"/>
	  <add key="TRUCKOUT" value="Trucks Loaded:"/>
	  <add key="STMESSAGEATTRUCKIN"  value="(Check Post)"/>
	  <add key="STMESSAGEATTRUCKOUT" value="(Weigh Bridge)"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISMSService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/SMSService/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISMSService"
        contract="ServiceReference.ISMSService" name="BasicHttpBinding_ISMSService" />
    </client>
  </system.serviceModel>
</configuration>