<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MaxRequestLength" value="2097152"/>
    <add key="FolderPath" value="C:\CustomerGeneration\" />
    <add key="StandaloneTruckFolder" value="TruckInfo" />
    <add key="AdvanceSMSValidDays" value="3"/>
  </appSettings>
</configuration>