<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0" requirePermission="true" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0" requirePermission="true" />
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
	   defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="FlatFile TraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
			  listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
			  fileName="Logging.log" header="----------------------------------------"
			  footer="----------------------------------------" formatter="Text Formatter"
			  traceOutputOptions="None" filter="All" />
      <add name="FlatFile Log TraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
			  listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
			  fileName="Trace.log" header="----------------------------------------"
			  footer="----------------------------------------" formatter="Text Formatter"
			  traceOutputOptions="None" filter="All" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
			  template="Timestamp: {timestamp}{newline}Message: {message}{newline}Category: {category}{newline}Priority: {priority}{newline}EventId: {eventid}{newline}Severity: {severity}{newline}Title:{title}{newline}Machine: {localMachine}{newline}App Domain: {localAppDomain}{newline}ProcessId: {localProcessId}{newline}Process Name: {localProcessName}{newline}Thread Name: {threadName}{newline}Win32 ThreadId:{win32ThreadId}{newline}Extended Properties: {dictionary({key} - {value}{newline})}"
			  name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="AssistingAdministrators">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					  postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="Logging Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging"
							  logCategory="General" eventId="9001" severity="Error" title="Salary Calculations Service"
							  formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
							  priority="5" />
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
							  exceptionMessage="Application error.  Please advise your administrator and provide them with this error code: {handlingInstanceID}"
							  exceptionMessageResourceName="" exceptionMessageResourceType=""
							  replaceExceptionType="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="ExceptionShielding">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					  postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="Wrap Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
							  exceptionMessage="Application Error. Please contact your administrator."
							  exceptionMessageResourceType="" exceptionMessageResourceName=""
							  wrapExceptionType="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="LoggingException">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					  postHandlingAction="None">
            <exceptionHandlers>
              <add name="Logging Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging"
							  logCategory="General" eventId="9000" severity="Error" title="Salary Calculations Service"
							  formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
							  priority="5" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="NotifyingRethrow">
        <exceptionTypes>
          <add name="DivideByZeroException" type="System.DivideByZeroException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					  postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="Logging Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging"
							  logCategory="General" eventId="9002" severity="Error" title="Salary Calculations Service"
							  formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
							  priority="5" />
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
							  exceptionMessage="Application error will be ignored and processing will continue."
							  exceptionMessageResourceName="" exceptionMessageResourceType=""
							  replaceExceptionType="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            </exceptionHandlers>
          </add>
          <add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					  postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="Wrap Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
							  exceptionMessage="An application error has occurred." exceptionMessageResourceType=""
							  exceptionMessageResourceName="" wrapExceptionType="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="ReplacingException">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					  postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
							  exceptionMessage="Application Error. Please contact your administrator."
							  exceptionMessageResourceName="" exceptionMessageResourceType=""
							  replaceExceptionType="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <connectionStrings>
    <add name="eSalesEntities" connectionString="metadata=res://*/eSalesModel.csdl|res://*/eSalesModel.ssdl|res://*/eSalesModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.13.162;Port=3306;Allow Zero Datetime=true;User Id=root;password=root;Persist Security Info=True;database=esalestest&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="LocalMySqlServer" connectionString="Datasource=192.168.13.162;Port=3306;Database=esalestest;uid=root;pwd=root;" providerName="MySql.Data.MySqlClient" />
    <add name="eSalesEntities" connectionString="metadata=res://*/eSalesModel.csdl|res://*/eSalesModel.ssdl|res://*/eSalesModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.13.162;Port=3306;Allow Zero Datetime=true;User Id=root;password=root;Persist Security Info=True;database=esalestest&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="LocalMySqlServer" connectionString="Datasource=dcaesales.db.8445764.hostedresource.com;Port=3306; Database=dcaesales; uid=dcaesales;pwd=dCaGhAtO@1.;" providerName="MySql.Data.MySqlClient" />
    <add name="eSalesEntities" connectionString="metadata=res://*/eSalesModel.csdl|res://*/eSalesModel.ssdl|res://*/eSalesModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=dcaesales.db.8445764.hostedresource.com;Port=3306;Allow Zero Datetime=true;User Id=dcaesales;password=dCaGhAtO@1.;Persist Security Info=True;database=dcaesales&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="LocalMySqlServer" connectionString="Datasource=192.168.12.239;Database=esales;uid=root;pwd=esales@1.;" providerName="MySql.Data.MySqlClient" />
    <add name="eSalesEntities" connectionString="metadata=res://*/eSalesModel.csdl|res://*/eSalesModel.ssdl|res://*/eSalesModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.12.239;Allow Zero Datetime=true;User Id=root;password=esales@1.;Persist Security Info=True;database=esales&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>